---
title: Resume
layout: default
---

{% include header.html %}

<div style="background-color: var(--tf-page-bg-color)" class="bg-gradient py-3">
  <div class="container">

    <!-- Contact Info Row -->
    <div class="row mb-4">
      <div class="col-12 text-center">
        <p class="mb-1">
          {% if site.data.bio.basics.location.address != '' and site.data.bio.basics.location.address != nil %}
            {{ site.data.bio.basics.location.address }}, {{ site.data.bio.basics.location.city }}, {{ site.data.bio.basics.location.region }} {{ site.data.bio.basics.location.postalCode }} | 
          {% endif %}
          {{ site.data.bio.basics.phone }} | 
          <a href="mailto:{{ site.data.bio.basics.email }}">{{ site.data.bio.basics.email }}</a>
        </p>
        <p class="mb-0">
          {% for profile in site.data.bio.basics.profiles %}
            {% if profile.url and profile.url != '' %}
              <a href="{{ profile.url }}" target="_blank">{{ profile.url | remove: "https://" }}</a>
            {% endif %}
          {% endfor %}
        </p>
      </div>
    </div>

    <!-- Work Experience Section -->
    {% if site.data.bio.work %}
    <div class="row pt-2 align-items-start">
      <div class="col-lg-3">
        <h1 class="display-6 text-start m-0">Work Experience</h1>
      </div>
      <div class="col-lg-9">
        {% for entry in site.data.bio.work %}
          <div class="row mb-3">
            <div class="col-8">
              <p class="mb-0"><b>{{ entry.company }}</b></p>
              <p class="mb-1"><i>{{ entry.position }}</i></p>
              {% if entry.highlights and entry.highlights.size > 0 %}
                <ul>
                  {% for highlight in entry.highlights %}
                    <li>{{ highlight }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            <div class="col-4">
              <p class="m-0 text-end">
                {{ entry.startDate }} - {{ entry.endDate }}
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <!-- Education Section -->
    {% if site.data.bio.education %}
    <div class="row pt-4 align-items-start">
      <div class="col-lg-3">
        <h1 class="display-6 text-start m-0">Education</h1>
      </div>
      <div class="col-lg-9">
        {% for entry in site.data.bio.education %}
          <div class="row mb-3">
            <div class="col-8">
              <p class="mb-0"><b>{{ entry.studyType }} in {{ entry.area }}</b></p>
              <p class="mb-1">{{ entry.institution }}</p>
              {% if entry.courses and entry.courses.size > 0 %}
                <p class="mb-0">Relevant coursework in {% for course in entry.courses %}{{ course }}{% if forloop.last != true %}, {% endif %}{% endfor %}</p>
              {% endif %}
            </div>
            <div class="col-4">
              <p class="m-0 text-end">
                {{ entry.startDate }} - {{ entry.endDate }}
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <!-- Additional Information Section -->
    {% if site.data.bio.skills or site.data.bio.awards %}
    <div class="row pt-4 align-items-start">
      <div class="col-lg-3">
        <h1 class="display-6 text-start m-0">Additional Information</h1>
      </div>
      <div class="col-lg-9">
        <ul>
          {% for entry in site.data.bio.skills %}
            <li>
              <b>{{ entry.name }}:</b> 
              {% for keyword in entry.keywords %}
                {{ keyword }}{% if forloop.last != true %}, {% endif %}
              {% endfor %}
            </li>
          {% endfor %}

          {% if site.data.bio.awards and site.data.bio.awards.size > 0 %}
            <li>
              <b>Certifications & Awards:</b> 
              {% for award in site.data.bio.awards %}
                {{ award.title }}{% if forloop.last != true %}, {% endif %}
              {% endfor %}
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
    {% endif %}

  </div>
</div>
