---
title: Resume
layout: default
---

<div style="background-color: var(--tf-page-bg-color)" class="bg-gradient py-3">
  <div class="container">

    <!-- Name Row -->
    <div class="row mb-2">
      <div class="col">
        <h1 class="display-4 text-center">{{ site.data.bio.basics.name }}</h1>
      </div>
    </div>

    <!-- Contact Info Row -->
    <div class="row mb-4">
      <div class="col-12 text-center">
        <p class="mb-1">
          {% if site.data.bio.basics.location.city %}
            {{ site.data.bio.basics.location.city }}, {{ site.data.bio.basics.location.region }} {{ site.data.bio.basics.location.postalCode }} | 
          {% endif %}
          {{ site.data.bio.basics.phone }} | 
          <a href="mailto:{{ site.data.bio.basics.email }}">{{ site.data.bio.basics.email }}</a>
        </p>
        <p class="mb-0">
          {% if site.data.bio.basics.website %}
            <a href="{{ site.data.bio.basics.website }}" target="_blank">GitHub Portfolio</a>
          {% endif %}
          {% for profile in site.data.bio.basics.profiles %}
            | <a href="{{ profile.url }}" target="_blank">LinkedIn Profile</a>
          {% endfor %}
        </p>
      </div>
    </div>

    <!-- Skills Section -->
    {% if site.data.bio.skills %}
    <div class="row pt-4 align-items-center">
      <div class="col-lg-3">
        <h1 class="display-6 text-start m-0">Skills</h1>
      </div>
      <div class="col-lg-9">
        {% for entry in site.data.bio.skills %}
          <p class="m-0">
            <b>{{ entry.name }}:</b>
              {% for keyword in entry.keywords %}
                {{ keyword }}{% if forloop.last != true %}, {% endif %}
              {% endfor %}
          </p>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <!-- Education Section -->
    {% if site.data.bio.education %}
    <div class="row pt-4 align-items-start">
      <div class="col-lg-3">
        <h1 class="display-6 text-start m-0">Education</h1>
      </div>
      <div class="col-lg-9">
        {% for entry in site.data.bio.education %}
          {% unless entry.institution contains "High School" %}
          <div class="row mb-3">
            <div class="col-9">
              <p class="m-0"><b>{{ entry.institution }}</b></p>
              <p class="m-0">{{ entry.studyType }} {{ entry.area }}</p>
              {% if entry.courses %}
                <ul>
                  {% for course in entry.courses %}
                    <li>{{ course }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            <div class="col-3">
              <p class="m-0 text-end">
                {% if entry.startDate %}
                  {{ entry.startDate | slice: 0,4 }}
                {% endif %}
                {% if entry.startDate and entry.startDate != '' and entry.endDate and entry.endDate != '' %}
                -
                {% endif %}
                {% if entry.endDate %}
                  {% if entry.endDate != "Present" %}
                    {{ entry.endDate | slice: 0,4 }}
                  {% else %}
                    {{ entry.endDate }}
                  {% endif %}
                {% endif %}
              </p>
            </div>
          </div>
          {% endunless %}
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <!-- Work Section -->
    {% if site.data.bio.work %}
    <div class="row pt-4 align-items-start">
      <div class="col-lg-3">
        <h1 class="display-6 text-start m-0">Work</h1>
      </div>
      <div class="col-lg-9">
        {% for entry in site.data.bio.work %}
          <div class="row mb-3">
            <div class="col-9">
              <p class="mb-0"><b>{{ entry.position }}, {{ entry.company }}</b></p>
              <p class="mb-0">{{ entry.summary }}</p>
              {% if entry.highlights %}
                <ul>
                  {% for highlight in entry.highlights %}
                    <li>{{ highlight }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
            <div class="col-3">
              <p class="m-0 text-end">
                {% if entry.startDate %}
                  {{ entry.startDate | slice: 0,4 }}
                {% endif %}
                {% if entry.startDate and entry.startDate != '' and entry.endDate and entry.endDate != '' %}
                -
                {% endif %}
                {% if entry.endDate %}
                {% if entry.endDate != "Present" %}
                  {{ entry.endDate | slice: 0,4 }}
                {% else %}
                  {{ entry.endDate }}
                {% endif %}
              {% endif %}
              </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <!-- Activities / Volunteer Section -->
    {% if site.data.bio.volunteer %}
      <div class="row pt-4 align-items-start">
        <div class="col-lg-3">
          <h1 class="display-6 text-start m-0">Activities</h1>
        </div>
        <div class="col-lg-9">
          {% for entry in site.data.bio.volunteer %}
          <div class="row mb-3">
            <div class="col-9">
              <p class="mb-0"><b>{{ entry.position }}{% if entry.organization %}, {{ entry.organization }}{% endif %}</b></p>
              <p class="mb-0">{{ entry.summary }}</p>
              {% if entry.highlights %}
                <ul>
                {% for highlight in entry.highlights %}
                  <li>{{ highlight }}</li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
            <div class="col-3">
              <p class="m-0 text-end">
                {% if entry.startDate %}
                  {{ entry.startDate | slice: 0,4 }}
                {% endif %}
                {% if entry.startDate and entry.startDate != '' and entry.endDate and entry.endDate != '' %}
                -
                {% endif %}
                {% if entry.endDate %}
                  {% if entry.endDate != "Present" %}
                    {{ entry.endDate | slice: 0,4 }}
                  {% else %}
                    {{ entry.endDate }}
                  {% endif %}
                {% endif %}
              </p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    <!-- Awards Section -->
    {% if site.data.bio.awards %}
    <div class="row pt-4 align-items-start">
      <div class="col-lg-3">
        <h1 class="display-6 text-start m-0">Awards</h1>
      </div>

      <div class="col-lg-9">
      {% for entry in site.data.bio.awards %}
        <div class="row mb-3">
          <div class="col-9">
            <p class="mb-0">
              <b>{{ entry.title }}</b>, {{ entry.awarder }}
            </p>
            <p class="mb-0">{{ entry.summary }}</p>
          </div>
          <div class="col-3">
            <p class="m-0 text-end">
              {{ entry.date}}
            </p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

  </div>
</div>

